body{
    background-color: #15232D;
    color: bisque;
}
#can{
    border:1px solid #000000;
}

.playerCanvas {
    //background-color: pink;
   // width: 44em;
   // align-content: center;

}
.message-list{
    border-color: #000000
}
.btn{
    background-color: rgb(165, 67, 165);
}

.ul {
    padding: 0;
    list-style: none;
}

.container{
    border:1px solid #000000
}