body {
  background-color: #15232D;
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1340px
}


.navbar {
  grid-area: nav;
  background: #455072;
}

.play-area {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 510px 510px 14rem 1fr;
  grid-template-rows: 1rem 1fr 50px 300px;
  grid-template-areas: "nav nav nav nav nav"
    "stats enemy player status ."
    "stats chat chat chat ."

  ;
  align-content: center;
  //border: 3px solid #425b69; - loayout TODO: Remove

}

.chat-area {
  grid-area: chat;
  //border: 1px solid #ee0000 - loayout TODO: Remove
}

.canvas-enemy {
  grid-area: enemy;
  height: 510px;
  width: 510px;
  //border: 3px solid #8a4444 - loayout TODO: Remove
}

.canvas-player {
  grid-area: player;
  height: 510px;
  width: 510px;
  //border: 3px solid #326342; - loayout TODO: Remove
}

.reset {
  grid-area: reset;
  border: 3px solid #01f351;
}
.chart-test{
  grid-area: stats;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000091;
  background: #455072;

}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}